#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/opt/etbook/doc/favicon.ico
Name[en_US]=&Book
Exec=gksu /opt/etbook/src/etbook.run
Comment[en_US]=Start & Book Control Panel
Name=XAMPP
Comment=Start & Book Control Panel
Icon=/opt/etbook/doc/favicon.ico
