#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/opt/lampp/htdocs/favicon.ico
Name[en_US]=&Book
Exec=gksu /opt/lampp/manager-linux-x64.run
Comment[en_US]=Start & Book Control Panel
Name=XAMPP
Comment=Start & Book Control Panel
Icon=/opt/lampp/htdocs/favicon.ico
